@import "../../../styles.sass"

footer
    background: $maincolor
    color: #ffffff
    display: flex
    align-items: center
    justify-content: center
    height: 15vh
    position: relative
    z-index: 1000
    top: 0vh
    a
        position: absolute
        background: #e1e1e12a
        color: #ffffff
        border-radius: 5px
        padding: 12px
        font-size: 24px
        transition: all 0.4s linear
        font-weight: 600
    a:hover
        background: #00000035
        transition: all 0.4s linear
        transform: scale(1.02)

    a:hover 
        text-decoration: none
    

@media (max-width: 900px)
    footer
        top: 0vh
    
@media (max-width: 560px)
    footer
        top: 9vh
