.Container 
    width: 100%
    height: calc(350px + 9vh)
    background-repeat: no-repeat
    background-size: cover
    h2 
        color: white
        font-size: 42px
        position: relative
        top: 80px
    input
        width: 70%
        height: 40px
        border-radius: 30px
        position: relative
        top: 250px
        border: none
    button
        transition: all 0.5s linear
        position: relative
        top: 248px
        height: 40px
        color: white
        margin-left: 10px 
    button:hover
        transition: all 0.5s linear
        transform: scale(1.1)

@media (max-width: 900px)
    .Container
        height: calc(300px + 9vh)
        h2
            font-size: 35px
            height: 140px
            display: flex
            justify-content: center
            align-items: center
        input
            top: 100px
        button
            top: 98px

@media (max-width: 500px)
    .Container
        height: calc(250px + 9vh)
        h2
            font-size: 30px
            height: 130px
            display: flex
            justify-content: center
            align-items: center
        input
            top: 100px
        button
            top: 98px