<div class="Containerrr" #Container>
    <h2 class="title">Top-Rated Movies</h2>
    <div data-slick='{"slidesToShow": 4, "slidesToScroll": 4}' class="pelis">
      <div #peli class="peli" *ngFor="let peli of pelis">
        <img routerLink="/movies/{{peli.id}}" src="https://image.tmdb.org/t/p/w500/{{ peli.poster_path }}" />
        <div class="vote">
          <h6>{{ peli.vote_average * 10 }}</h6>
          <span>%</span>
        </div>
        <h5>{{ peli.title }}</h5>
        <p>{{ peli.release_date }}</p>
      </div>
    <button (click)="getMore20(pelis,TopRatedUrl,i)" type="button">➤</button>  
  </div>
  
  </div>
  
